ul.none {list-style:none;margin:0;padding:0;}

a {text-decoration:none !important;}

 /* Header */

    /* Header Top */

    header#top {
      background:#fefefe;
      border-bottom:1px solid #e0e0e0;
    }
  
  header#top a {
    color:#777;
    transition:color 0.3s;
  }
  
  header#top a:hover {
    color:#333;
  }

      /* İletişim */

      header#top ul.iletisim li {
        float:left;
        margin:0 25px 0 0;
        font-weight:600;
        color:#999;
        line-height:38px;
      }

      header#top ul.iletisim li i {
        float:left;
        font-size:20px;
        margin:0 7px 0 0;
      }

      /* İletişim */

      /* Sosyal Medya */

      header#top ul.sosyal-medya li {
        float:left;
        margin:0;
        border-left:1px solid #e0e0e0;
      }

      header#top ul.sosyal-medya li:first-child{
        border-left:0px solid #e0e0e0;
      }

      header#top ul.sosyal-medya li a {
        color:#888;
      }

      header#top ul.sosyal-medya li a i {
        width:35px;
        padding:10px 0;
        background:transparent;
        text-align:center;
        font-size:18px;
      }

      header#top ul.sosyal-medya li a i.fa-facebook-f:hover {
        color:#fff;
        background:#3b5998;
      }

      header#top ul.sosyal-medya li a i.fa-twitter:hover {
        color:#fff;
        background:#00aced;
      }

      header#top ul.sosyal-medya li a i.fa-instagram:hover {
        color:#fff;
        background:#517fa4;
      }

      header#top ul.sosyal-medya li a i.fa-linkedin-in:hover {
        color:#fff;
        background:#007bb6;
      }

      /* Sosyal Medya */

    /* Header Top */

    /* Header Bottom */

    header#bottom {
      top:-500px; 
      background: #fefefe;
      border-bottom: 1px solid #e0e0e0;
      transition: top 0.7s;
    }

    header.sticky {
      position:fixed;
      top:0 !important;
      z-index:999;
      width:100%;
    }

    header.sticky nav ul li a {
      padding:27px 10px;
    }

    header.sticky nav ul li:hover a {
      padding:27px 10px 25px 10px;
    }

    header.sticky nav ul ul li a {
      padding:18px 10px !important;
    }

    header#bottom .mobile-menu {
      margin-top:13px;
    }

    header#bottom .mobile-menu { 
    position: absolute;
    right: 10px;
    bottom: 20px;
    margin: 0 auto;
    margin-top: 10px;
    }


    .navbar {
      background: #fefefe;
      height: 130px;
    }

    .navbar-nav li a {
      line-height: 100px;
    }

    .navbar.navbar-default {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .navbar.navbar-default .navbar-collapse {
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .dropdown-menu li a {
      height: 20px;
    }

    .carousel-inner > .item > img {
      width: 750px;
      height: 420px;
      margin: 0 auto;
    }

    #carousel-example-generic {
      margin-top: -6%;
    }

    .page-head {
      color: #00529b;
      background: #f0f0f0;
      border-bottom: 1px solid #ddd;
    }

    .page-head h2 {
      font-size:32px;
      margin-bottom: 1.5%;
    }
  
    .margin-top-20 {
      margin-top: 20px;
    }